/bin/
/de.apollomasterbeuth.apolloconverter.GMLDataAdder.log
/de.apollomasterbeuth.apolloconverter.GMLStructureReader.log
/java.util.logging.Logger.log
/java.util.logging.Logger.log.1
/java.util.logging.Logger.log.2
/java.util.logging.Logger.log.3
/java.util.logging.Logger.log.4
/java.util.logging.Logger.log.5
/java.util.logging.Logger.log.6
/java.util.logging.Logger.log.7
/resources/
/dependencies/
